**/.DS_Store
**/*.rep
*.iml
.idea
**/output/**
**/out/**
MacOSReleasev1-6.1/replayer
out/**
**/log.*
**/log_*
**/*.zip
MacOSReleasev1-6.1/maps/**
**/run_simple_demo.bat
/WindowsRelease/maps/**
/WindowsRelease/sdk/**
MacOSReleasev1-6.1/run_simple_demo.sh

